<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>geode.loader/baseAccount_Normal_Blue.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{86,83}</string>
    <key>spriteSourceSize</key>
    <string>{86,83}</string>
    <key>textureRect</key>
    <string>{{114,878},{86,83}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseAccount_Normal_Gray.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{86,83}</string>
    <key>spriteSourceSize</key>
    <string>{86,83}</string>
    <key>textureRect</key>
    <string>{{668,586},{86,83}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseAccount_Normal_Purple.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{86,83}</string>
    <key>spriteSourceSize</key>
    <string>{86,83}</string>
    <key>textureRect</key>
    <string>{{807,357},{86,83}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCategory_Big_Green.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-4}</string>
    <key>spriteSize</key>
    <string>{201,198}</string>
    <key>spriteSourceSize</key>
    <string>{209,208}</string>
    <key>textureRect</key>
    <string>{{217,2},{201,198}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_BigAlt_Blue.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-3}</string>
    <key>spriteSize</key>
    <string>{110,114}</string>
    <key>spriteSourceSize</key>
    <string>{112,121}</string>
    <key>textureRect</key>
    <string>{{2,541},{110,114}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_BigAlt_Cyan.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-3}</string>
    <key>spriteSize</key>
    <string>{110,114}</string>
    <key>spriteSourceSize</key>
    <string>{112,121}</string>
    <key>textureRect</key>
    <string>{{114,541},{110,114}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_BigAlt_DarkAqua.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-3}</string>
    <key>spriteSize</key>
    <string>{110,114}</string>
    <key>spriteSourceSize</key>
    <string>{112,121}</string>
    <key>textureRect</key>
    <string>{{580,2},{110,114}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_BigAlt_DarkPurple.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-3}</string>
    <key>spriteSize</key>
    <string>{110,114}</string>
    <key>spriteSourceSize</key>
    <string>{112,121}</string>
    <key>textureRect</key>
    <string>{{226,541},{110,114}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_BigAlt_Gray.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-3}</string>
    <key>spriteSize</key>
    <string>{110,114}</string>
    <key>spriteSourceSize</key>
    <string>{112,121}</string>
    <key>textureRect</key>
    <string>{{482,357},{110,114}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_BigAlt_Green.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-3}</string>
    <key>spriteSize</key>
    <string>{110,114}</string>
    <key>spriteSourceSize</key>
    <string>{112,121}</string>
    <key>textureRect</key>
    <string>{{338,541},{110,114}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_BigAlt_Pink.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-3}</string>
    <key>spriteSize</key>
    <string>{110,114}</string>
    <key>spriteSourceSize</key>
    <string>{112,121}</string>
    <key>textureRect</key>
    <string>{{2,657},{110,114}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Big_Blue.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{108,111}</string>
    <key>spriteSourceSize</key>
    <string>{108,113}</string>
    <key>textureRect</key>
    <string>{{621,217},{108,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Big_Cyan.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{108,111}</string>
    <key>spriteSourceSize</key>
    <string>{108,113}</string>
    <key>textureRect</key>
    <string>{{114,657},{108,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Big_DarkAqua.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{108,111}</string>
    <key>spriteSourceSize</key>
    <string>{108,113}</string>
    <key>textureRect</key>
    <string>{{482,473},{108,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Big_DarkPurple.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{108,111}</string>
    <key>spriteSourceSize</key>
    <string>{108,113}</string>
    <key>textureRect</key>
    <string>{{692,2},{108,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Big_Gray.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{108,111}</string>
    <key>spriteSourceSize</key>
    <string>{108,113}</string>
    <key>textureRect</key>
    <string>{{594,357},{108,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Big_Green.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{108,111}</string>
    <key>spriteSourceSize</key>
    <string>{108,113}</string>
    <key>textureRect</key>
    <string>{{224,657},{108,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Big_Pink.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{108,111}</string>
    <key>spriteSourceSize</key>
    <string>{108,113}</string>
    <key>textureRect</key>
    <string>{{334,657},{108,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Large_Blue.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{158,160}</string>
    <key>spriteSourceSize</key>
    <string>{160,166}</string>
    <key>textureRect</key>
    <string>{{2,379},{158,160}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Large_Cyan.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{158,160}</string>
    <key>spriteSourceSize</key>
    <string>{160,166}</string>
    <key>textureRect</key>
    <string>{{322,217},{158,160}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Large_DarkAqua.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{158,160}</string>
    <key>spriteSourceSize</key>
    <string>{160,166}</string>
    <key>textureRect</key>
    <string>{{2,217},{158,160}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Large_DarkPurple.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{158,160}</string>
    <key>spriteSourceSize</key>
    <string>{160,166}</string>
    <key>textureRect</key>
    <string>{{162,379},{158,160}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Large_Gray.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{158,160}</string>
    <key>spriteSourceSize</key>
    <string>{160,166}</string>
    <key>textureRect</key>
    <string>{{420,2},{158,160}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Large_Green.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{158,160}</string>
    <key>spriteSourceSize</key>
    <string>{160,166}</string>
    <key>textureRect</key>
    <string>{{322,379},{158,160}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Large_Pink.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{158,160}</string>
    <key>spriteSourceSize</key>
    <string>{160,166}</string>
    <key>textureRect</key>
    <string>{{162,217},{158,160}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_MediumAlt_Blue.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-3}</string>
    <key>spriteSize</key>
    <string>{101,106}</string>
    <key>spriteSourceSize</key>
    <string>{105,114}</string>
    <key>textureRect</key>
    <string>{{2,773},{101,106}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_MediumAlt_Cyan.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-3}</string>
    <key>spriteSize</key>
    <string>{101,106}</string>
    <key>spriteSourceSize</key>
    <string>{105,114}</string>
    <key>textureRect</key>
    <string>{{114,770},{101,106}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_MediumAlt_DarkAqua.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-3}</string>
    <key>spriteSize</key>
    <string>{101,106}</string>
    <key>spriteSourceSize</key>
    <string>{105,114}</string>
    <key>textureRect</key>
    <string>{{704,357},{101,106}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_MediumAlt_DarkPurple.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-3}</string>
    <key>spriteSize</key>
    <string>{101,106}</string>
    <key>spriteSourceSize</key>
    <string>{105,114}</string>
    <key>textureRect</key>
    <string>{{444,657},{101,106}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_MediumAlt_Gray.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-3}</string>
    <key>spriteSize</key>
    <string>{101,106}</string>
    <key>spriteSourceSize</key>
    <string>{105,114}</string>
    <key>textureRect</key>
    <string>{{731,217},{101,106}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_MediumAlt_Green.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-3}</string>
    <key>spriteSize</key>
    <string>{101,106}</string>
    <key>spriteSourceSize</key>
    <string>{105,114}</string>
    <key>textureRect</key>
    <string>{{217,770},{101,106}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_MediumAlt_Pink.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-3}</string>
    <key>spriteSize</key>
    <string>{101,106}</string>
    <key>spriteSourceSize</key>
    <string>{105,114}</string>
    <key>textureRect</key>
    <string>{{802,2},{101,106}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Medium_Blue.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{93,95}</string>
    <key>spriteSourceSize</key>
    <string>{93,98}</string>
    <key>textureRect</key>
    <string>{{320,770},{93,95}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Medium_Cyan.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{93,95}</string>
    <key>spriteSourceSize</key>
    <string>{93,98}</string>
    <key>textureRect</key>
    <string>{{547,657},{93,95}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Medium_DarkAqua.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{93,95}</string>
    <key>spriteSourceSize</key>
    <string>{93,98}</string>
    <key>textureRect</key>
    <string>{{834,217},{93,95}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Medium_DarkPurple.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{93,95}</string>
    <key>spriteSourceSize</key>
    <string>{93,98}</string>
    <key>textureRect</key>
    <string>{{861,118},{93,95}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Medium_Gray.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{93,95}</string>
    <key>spriteSourceSize</key>
    <string>{93,98}</string>
    <key>textureRect</key>
    <string>{{766,118},{93,95}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Medium_Green.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{93,95}</string>
    <key>spriteSourceSize</key>
    <string>{93,98}</string>
    <key>textureRect</key>
    <string>{{415,770},{93,95}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Medium_Pink.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{93,95}</string>
    <key>spriteSourceSize</key>
    <string>{93,98}</string>
    <key>textureRect</key>
    <string>{{2,881},{93,95}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_SmallAlt_Blue.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{83,86}</string>
    <key>spriteSourceSize</key>
    <string>{83,88}</string>
    <key>textureRect</key>
    <string>{{287,878},{83,86}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_SmallAlt_Cyan.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{83,86}</string>
    <key>spriteSourceSize</key>
    <string>{83,88}</string>
    <key>textureRect</key>
    <string>{{510,770},{83,86}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_SmallAlt_DarkAqua.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{83,86}</string>
    <key>spriteSourceSize</key>
    <string>{83,88}</string>
    <key>textureRect</key>
    <string>{{668,671},{83,86}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_SmallAlt_DarkPurple.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{83,86}</string>
    <key>spriteSourceSize</key>
    <string>{83,88}</string>
    <key>textureRect</key>
    <string>{{372,878},{83,86}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_SmallAlt_Gray.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{83,86}</string>
    <key>spriteSourceSize</key>
    <string>{83,88}</string>
    <key>textureRect</key>
    <string>{{202,878},{83,86}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_SmallAlt_Green.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{83,86}</string>
    <key>spriteSourceSize</key>
    <string>{83,88}</string>
    <key>textureRect</key>
    <string>{{905,2},{83,86}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_SmallAlt_Pink.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{83,86}</string>
    <key>spriteSourceSize</key>
    <string>{83,88}</string>
    <key>textureRect</key>
    <string>{{780,470},{83,86}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Small_Blue.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{77,80}</string>
    <key>spriteSourceSize</key>
    <string>{77,82}</string>
    <key>textureRect</key>
    <string>{{457,878},{77,80}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Small_Cyan.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{77,80}</string>
    <key>spriteSourceSize</key>
    <string>{77,82}</string>
    <key>textureRect</key>
    <string>{{865,470},{77,80}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Small_DarkAqua.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{77,80}</string>
    <key>spriteSourceSize</key>
    <string>{77,82}</string>
    <key>textureRect</key>
    <string>{{753,671},{77,80}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Small_DarkPurple.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{77,80}</string>
    <key>spriteSourceSize</key>
    <string>{77,82}</string>
    <key>textureRect</key>
    <string>{{835,586},{77,80}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Small_Gray.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{77,80}</string>
    <key>spriteSourceSize</key>
    <string>{77,82}</string>
    <key>textureRect</key>
    <string>{{756,586},{77,80}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Small_Green.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{77,80}</string>
    <key>spriteSourceSize</key>
    <string>{77,82}</string>
    <key>textureRect</key>
    <string>{{895,357},{77,80}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Small_Pink.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{77,80}</string>
    <key>spriteSourceSize</key>
    <string>{77,82}</string>
    <key>textureRect</key>
    <string>{{595,770},{77,80}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Tiny_Blue.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{53,56}</string>
    <key>spriteSourceSize</key>
    <string>{53,58}</string>
    <key>textureRect</key>
    <string>{{536,947},{53,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Tiny_Cyan.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{53,56}</string>
    <key>spriteSourceSize</key>
    <string>{53,58}</string>
    <key>textureRect</key>
    <string>{{591,947},{53,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Tiny_DarkAqua.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{53,56}</string>
    <key>spriteSourceSize</key>
    <string>{53,58}</string>
    <key>textureRect</key>
    <string>{{900,809},{53,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Tiny_DarkPurple.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{53,56}</string>
    <key>spriteSourceSize</key>
    <string>{53,58}</string>
    <key>textureRect</key>
    <string>{{900,867},{53,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Tiny_Gray.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{53,56}</string>
    <key>spriteSourceSize</key>
    <string>{53,58}</string>
    <key>textureRect</key>
    <string>{{832,947},{53,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Tiny_Green.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{53,56}</string>
    <key>spriteSourceSize</key>
    <string>{53,58}</string>
    <key>textureRect</key>
    <string>{{944,470},{53,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Tiny_Pink.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{53,56}</string>
    <key>spriteSourceSize</key>
    <string>{53,58}</string>
    <key>textureRect</key>
    <string>{{944,528},{53,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCross_Huge_Green.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-5}</string>
    <key>spriteSize</key>
    <string>{213,213}</string>
    <key>spriteSourceSize</key>
    <string>{229,229}</string>
    <key>textureRect</key>
    <string>{{2,2},{213,213}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCross_Small_Green.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-4}</string>
    <key>spriteSize</key>
    <string>{137,138}</string>
    <key>spriteSourceSize</key>
    <string>{147,147}</string>
    <key>textureRect</key>
    <string>{{482,217},{137,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseEditor_Normal_Aqua.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{67,69}</string>
    <key>spriteSourceSize</key>
    <string>{67,72}</string>
    <key>textureRect</key>
    <string>{{929,217},{67,69}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseEditor_Normal_Blue.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{66,67}</string>
    <key>spriteSourceSize</key>
    <string>{66,69}</string>
    <key>textureRect</key>
    <string>{{929,288},{66,67}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseEditor_Normal_BrightGreen.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{66,67}</string>
    <key>spriteSourceSize</key>
    <string>{66,69}</string>
    <key>textureRect</key>
    <string>{{536,878},{66,67}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseEditor_Normal_Cyan.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{66,67}</string>
    <key>spriteSourceSize</key>
    <string>{66,69}</string>
    <key>textureRect</key>
    <string>{{753,753},{66,67}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseEditor_Normal_DarkGray.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{66,67}</string>
    <key>spriteSourceSize</key>
    <string>{66,69}</string>
    <key>textureRect</key>
    <string>{{604,878},{66,67}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseEditor_Normal_DimGreen.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{66,67}</string>
    <key>spriteSourceSize</key>
    <string>{66,69}</string>
    <key>textureRect</key>
    <string>{{832,671},{66,67}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseEditor_Normal_Gray.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{66,67}</string>
    <key>spriteSourceSize</key>
    <string>{66,69}</string>
    <key>textureRect</key>
    <string>{{674,840},{66,67}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseEditor_Normal_Green.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{66,67}</string>
    <key>spriteSourceSize</key>
    <string>{66,69}</string>
    <key>textureRect</key>
    <string>{{914,586},{66,67}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseEditor_Normal_LightBlue.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{66,67}</string>
    <key>spriteSourceSize</key>
    <string>{66,69}</string>
    <key>textureRect</key>
    <string>{{832,740},{66,67}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseEditor_Normal_Magenta.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{66,67}</string>
    <key>spriteSourceSize</key>
    <string>{66,69}</string>
    <key>textureRect</key>
    <string>{{900,740},{66,67}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseEditor_Normal_Orange.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{66,67}</string>
    <key>spriteSourceSize</key>
    <string>{66,69}</string>
    <key>textureRect</key>
    <string>{{753,822},{66,67}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseEditor_Normal_Pink.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{66,67}</string>
    <key>spriteSourceSize</key>
    <string>{66,69}</string>
    <key>textureRect</key>
    <string>{{900,671},{66,67}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseEditor_Normal_Salmon.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{66,67}</string>
    <key>spriteSourceSize</key>
    <string>{66,69}</string>
    <key>textureRect</key>
    <string>{{674,909},{66,67}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseEditor_Normal_Teal.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{66,67}</string>
    <key>spriteSourceSize</key>
    <string>{66,69}</string>
    <key>textureRect</key>
    <string>{{832,809},{66,67}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseIconSelect_Normal_Selected.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{65,67}</string>
    <key>spriteSourceSize</key>
    <string>{67,71}</string>
    <key>textureRect</key>
    <string>{{753,891},{65,67}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseIconSelect_Normal_Unselected.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{65,67}</string>
    <key>spriteSourceSize</key>
    <string>{67,71}</string>
    <key>textureRect</key>
    <string>{{832,878},{65,67}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseLeaderboard_Normal_Blue.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{72,68}</string>
    <key>spriteSourceSize</key>
    <string>{72,68}</string>
    <key>textureRect</key>
    <string>{{674,770},{72,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseTab_Normal_Selected.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{184,62}</string>
    <key>spriteSourceSize</key>
    <string>{184,64}</string>
    <key>textureRect</key>
    <string>{{482,586},{184,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseTab_Normal_Unselected.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{184,63}</string>
    <key>spriteSourceSize</key>
    <string>{184,64}</string>
    <key>textureRect</key>
    <string>{{580,118},{184,63}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseTab_Normal_UnselectedDark.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{184,63}</string>
    <key>spriteSourceSize</key>
    <string>{184,64}</string>
    <key>textureRect</key>
    <string>{{594,470},{184,63}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1001,1007}</string>
   <key>textureFileName</key>
   <string>geode.loader/BlankSheet-hd.png</string>
  </dict>
 </dict>
</plist>
