<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>geode.loader/geode-circle.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{616,674},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/geode-logo-alternate.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{336,336}</string>
    <key>spriteSourceSize</key>
    <string>{336,336}</string>
    <key>textureRect</key>
    <string>{{378,2},{336,336}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/geode-logo-color.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{236,236}</string>
    <key>spriteSourceSize</key>
    <string>{236,236}</string>
    <key>textureRect</key>
    <string>{{378,674},{236,236}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/geode-logo-outline-gold.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,132}</string>
    <key>spriteSourceSize</key>
    <string>{128,132}</string>
    <key>textureRect</key>
    <string>{{2,716},{128,132}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/geode-logo-outline.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,130}</string>
    <key>spriteSourceSize</key>
    <string>{128,130}</string>
    <key>textureRect</key>
    <string>{{132,716},{128,130}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/geode-logo.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{332,332}</string>
    <key>spriteSourceSize</key>
    <string>{336,336}</string>
    <key>textureRect</key>
    <string>{{2,382},{332,332}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/logo-base.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{332,332}</string>
    <key>spriteSourceSize</key>
    <string>{336,336}</string>
    <key>textureRect</key>
    <string>{{378,340},{332,332}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/logo-glow.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{374,378}</string>
    <key>spriteSourceSize</key>
    <string>{380,380}</string>
    <key>textureRect</key>
    <string>{{2,2},{374,378}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{748,914}</string>
   <key>textureFileName</key>
   <string>geode.loader/LogoSheet-uhd.png</string>
  </dict>
 </dict>
</plist>
