<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>geode.loader/geode-circle.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{338,313},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/geode-logo-alternate.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{168,168}</string>
    <key>spriteSourceSize</key>
    <string>{168,168}</string>
    <key>textureRect</key>
    <string>{{192,2},{168,168}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/geode-logo-color.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{118,118}</string>
    <key>spriteSourceSize</key>
    <string>{118,118}</string>
    <key>textureRect</key>
    <string>{{338,193},{118,118}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/geode-logo-outline-gold.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,66}</string>
    <key>spriteSourceSize</key>
    <string>{64,66}</string>
    <key>textureRect</key>
    <string>{{362,2},{64,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/geode-logo-outline.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,65}</string>
    <key>spriteSourceSize</key>
    <string>{64,65}</string>
    <key>textureRect</key>
    <string>{{362,70},{64,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/geode-logo.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{166,166}</string>
    <key>spriteSourceSize</key>
    <string>{168,168}</string>
    <key>textureRect</key>
    <string>{{2,193},{166,166}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/logo-base.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{166,166}</string>
    <key>spriteSourceSize</key>
    <string>{168,168}</string>
    <key>textureRect</key>
    <string>{{170,193},{166,166}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/logo-glow.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{188,189}</string>
    <key>spriteSourceSize</key>
    <string>{190,190}</string>
    <key>textureRect</key>
    <string>{{2,2},{188,189}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{460,381}</string>
   <key>textureFileName</key>
   <string>geode.loader/LogoSheet-hd.png</string>
  </dict>
 </dict>
</plist>
