<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>bgIcon_01_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{2,2},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_02_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{86,2},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_03_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{2,86},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_04_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{86,86},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_05_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{170,2},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_06_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{2,170},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_07_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{86,170},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_08_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{170,86},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_09_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{170,170},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_10_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{254,2},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_11_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{2,254},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_12_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{86,254},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_13_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{254,86},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_14_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{170,254},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_15_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{254,170},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_16_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{338,2},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_17_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{2,338},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_18_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{86,338},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_19_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{338,86},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_20_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{254,254},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_21_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{170,338},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_22_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{338,170},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_23_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{254,338},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_24_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{338,254},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_25_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{422,2},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_26_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{2,422},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_27_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{86,422},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_28_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{422,86},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_29_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{170,422},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_30_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{422,170},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_31_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{338,338},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_32_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{254,422},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_33_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{422,254},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_34_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{506,2},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_35_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{2,506},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_36_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{86,506},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_37_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{506,86},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_38_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{170,506},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_39_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{506,170},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_40_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{338,422},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_41_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{422,338},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_42_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{254,506},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_43_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{506,254},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_44_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{590,2},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_45_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{2,590},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_46_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{86,590},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_47_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{422,422},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_48_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{590,86},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_49_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{338,506},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_50_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{506,338},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_51_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{170,590},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_52_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{590,170},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_53_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{254,590},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_54_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{590,254},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_55_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{422,506},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_56_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{506,422},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_57_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{674,2},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_58_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{2,674},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_59_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{86,674},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_01_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{338,590},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_02_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{590,338},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_03_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{674,86},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_04_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{170,674},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_05_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{674,170},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_06_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{506,506},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_07_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{254,674},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_08_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{674,254},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_09_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{422,590},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_10_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{590,422},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_11_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{338,674},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_12_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{674,338},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_13_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{758,2},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_14_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{758,86},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_15_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{506,590},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_16_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{590,506},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_17_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{758,170},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_18_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{422,674},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_19_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{674,422},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_20_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{758,254},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_21_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{758,338},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_22_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{590,590},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>mgIcon_00_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{506,674},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>mgIcon_01_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{674,506},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>mgIcon_02_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{758,422},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>mgIcon_03_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{590,674},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{844,760}</string>
   <key>textureFileName</key>
   <string>GJ_GameSheetEditor-hd.png</string>
  </dict>
 </dict>
</plist>
