<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>bgIcon_01_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{2,2},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_02_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{168,2},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_03_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{2,168},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_04_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{168,168},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_05_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{334,2},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_06_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{2,334},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_07_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{168,334},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_08_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{334,168},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_09_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{334,334},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_10_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{500,2},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_11_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{2,500},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_12_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{168,500},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_13_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{500,168},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_14_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{334,500},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_15_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{500,334},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_16_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{666,2},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_17_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{2,666},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_18_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{168,666},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_19_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{666,168},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_20_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{500,500},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_21_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{334,666},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_22_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{666,334},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_23_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{500,666},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_24_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{666,500},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_25_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{832,2},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_26_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{2,832},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_27_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{168,832},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_28_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{832,168},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_29_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{334,832},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_30_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{832,334},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_31_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{666,666},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_32_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{500,832},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_33_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{832,500},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_34_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{998,2},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_35_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{2,998},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_36_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{168,998},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_37_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{998,168},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_38_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{334,998},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_39_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{998,334},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_40_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{666,832},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_41_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{832,666},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_42_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{500,998},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_43_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{998,500},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_44_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{1164,2},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_45_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{2,1164},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_46_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{168,1164},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_47_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{832,832},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_48_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{1164,168},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_49_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{666,998},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_50_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{998,666},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_51_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{334,1164},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_52_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{1164,334},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_53_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{500,1164},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_54_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{1164,500},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_55_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{832,998},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_56_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{998,832},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_57_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{1330,2},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_58_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{2,1330},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_59_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{168,1330},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_01_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{666,1164},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_02_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{1164,666},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_03_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{1330,168},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_04_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{334,1330},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_05_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{1330,334},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_06_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{998,998},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_07_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{500,1330},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_08_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{1330,500},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_09_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{832,1164},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_10_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{1164,832},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_11_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{666,1330},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_12_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{1330,666},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_13_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{1496,2},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_14_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{1496,168},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_15_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{998,1164},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_16_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{1164,998},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_17_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{1496,334},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_18_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{832,1330},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_19_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{1330,832},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_20_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{1496,500},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_21_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{1496,666},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_22_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{1164,1164},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>mgIcon_00_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{998,1330},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>mgIcon_01_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{1330,998},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>mgIcon_02_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{1496,832},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>mgIcon_03_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{164,164}</string>
    <key>textureRect</key>
    <string>{{1164,1330},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1664,1498}</string>
   <key>textureFileName</key>
   <string>GJ_GameSheetEditor-uhd.png</string>
  </dict>
 </dict>
</plist>
