<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>boost_01_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,41}</string>
				<key>spriteSourceSize</key>
				<string>{32,41}</string>
				<key>textureRect</key>
				<string>{{559,254},{32,41}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>boost_02_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{30,54}</string>
				<key>spriteSourceSize</key>
				<string>{30,54}</string>
				<key>textureRect</key>
				<string>{{518,520},{30,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boost_03_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,54}</string>
				<key>spriteSourceSize</key>
				<string>{48,54}</string>
				<key>textureRect</key>
				<string>{{563,0},{48,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boost_04_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{62,54}</string>
				<key>spriteSourceSize</key>
				<string>{62,54}</string>
				<key>textureRect</key>
				<string>{{408,521},{62,54}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>boost_05_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,51}</string>
				<key>spriteSourceSize</key>
				<string>{64,51}</string>
				<key>textureRect</key>
				<string>{{292,525},{64,51}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>GJ_challengeBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-1.5}</string>
				<key>spriteSize</key>
				<string>{101,101}</string>
				<key>spriteSourceSize</key>
				<string>{104,104}</string>
				<key>textureRect</key>
				<string>{{103,219},{101,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_createBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-1.5}</string>
				<key>spriteSize</key>
				<string>{101,101}</string>
				<key>spriteSourceSize</key>
				<string>{104,104}</string>
				<key>textureRect</key>
				<string>{{289,0},{101,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_creatorBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{69,69}</string>
				<key>spriteSourceSize</key>
				<string>{70,70}</string>
				<key>textureRect</key>
				<string>{{493,291},{69,69}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_dailyBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-1.5}</string>
				<key>spriteSize</key>
				<string>{102,101}</string>
				<key>spriteSourceSize</key>
				<string>{104,104}</string>
				<key>textureRect</key>
				<string>{{0,219},{102,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gj_dailyCrown_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{83,57}</string>
				<key>spriteSourceSize</key>
				<string>{83,59}</string>
				<key>textureRect</key>
				<string>{{409,292},{83,57}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_eventBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-1.5}</string>
				<key>spriteSize</key>
				<string>{101,101}</string>
				<key>spriteSourceSize</key>
				<string>{104,104}</string>
				<key>textureRect</key>
				<string>{{205,211},{101,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gj_eventCrown_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{80,61}</string>
				<key>spriteSourceSize</key>
				<string>{80,63}</string>
				<key>textureRect</key>
				<string>{{376,440},{80,61}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>GJ_featuredBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-1.5}</string>
				<key>spriteSize</key>
				<string>{101,101}</string>
				<key>spriteSourceSize</key>
				<string>{104,104}</string>
				<key>textureRect</key>
				<string>{{243,103},{101,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_freeLevelsBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{66,64}</string>
				<key>spriteSourceSize</key>
				<string>{66,65}</string>
				<key>textureRect</key>
				<string>{{162,525},{66,64}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>GJ_fullBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{80,69}</string>
				<key>spriteSourceSize</key>
				<string>{80,70}</string>
				<key>textureRect</key>
				<string>{{493,0},{80,69}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>GJ_gauntletsBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-1.5}</string>
				<key>spriteSize</key>
				<string>{101,101}</string>
				<key>spriteSourceSize</key>
				<string>{104,104}</string>
				<key>textureRect</key>
				<string>{{0,321},{101,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_highscoreBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-1.5}</string>
				<key>spriteSize</key>
				<string>{101,101}</string>
				<key>spriteSourceSize</key>
				<string>{104,104}</string>
				<key>textureRect</key>
				<string>{{102,321},{101,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_listsBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-1.5}</string>
				<key>spriteSize</key>
				<string>{101,101}</string>
				<key>spriteSourceSize</key>
				<string>{104,104}</string>
				<key>textureRect</key>
				<string>{{204,321},{101,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_mapBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-1.5}</string>
				<key>spriteSize</key>
				<string>{101,101}</string>
				<key>spriteSourceSize</key>
				<string>{104,104}</string>
				<key>textureRect</key>
				<string>{{391,0},{101,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_mapPacksBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-1.5}</string>
				<key>spriteSize</key>
				<string>{101,101}</string>
				<key>spriteSourceSize</key>
				<string>{104,104}</string>
				<key>textureRect</key>
				<string>{{306,313},{101,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_moreGamesBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{81,69}</string>
				<key>spriteSourceSize</key>
				<string>{82,70}</string>
				<key>textureRect</key>
				<string>{{306,440},{81,69}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>GJ_pathsBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-1.5}</string>
				<key>spriteSize</key>
				<string>{101,101}</string>
				<key>spriteSourceSize</key>
				<string>{104,104}</string>
				<key>textureRect</key>
				<string>{{307,205},{101,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_playBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-1.5}</string>
				<key>spriteSize</key>
				<string>{106,106}</string>
				<key>spriteSourceSize</key>
				<string>{109,109}</string>
				<key>textureRect</key>
				<string>{{117,104},{106,106}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_safeBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,49}</string>
				<key>spriteSourceSize</key>
				<string>{43,49}</string>
				<key>textureRect</key>
				<string>{{562,172},{43,49}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>GJ_savedBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-1.5}</string>
				<key>spriteSize</key>
				<string>{101,101}</string>
				<key>spriteSourceSize</key>
				<string>{104,104}</string>
				<key>textureRect</key>
				<string>{{345,102},{101,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_searchBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-1.5}</string>
				<key>spriteSize</key>
				<string>{101,101}</string>
				<key>spriteSourceSize</key>
				<string>{104,104}</string>
				<key>textureRect</key>
				<string>{{0,423},{101,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_versusBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-1.5}</string>
				<key>spriteSize</key>
				<string>{101,101}</string>
				<key>spriteSourceSize</key>
				<string>{104,104}</string>
				<key>textureRect</key>
				<string>{{102,423},{101,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_weeklyBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-1.5}</string>
				<key>spriteSize</key>
				<string>{101,101}</string>
				<key>spriteSourceSize</key>
				<string>{104,104}</string>
				<key>textureRect</key>
				<string>{{204,423},{101,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gj_weeklyCrown_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{83,57}</string>
				<key>spriteSourceSize</key>
				<string>{83,59}</string>
				<key>textureRect</key>
				<string>{{408,350},{83,57}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerDash2_boom2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1.5,0.5}</string>
				<key>spriteSize</key>
				<string>{45,45}</string>
				<key>spriteSourceSize</key>
				<string>{70,72}</string>
				<key>textureRect</key>
				<string>{{563,55},{45,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerDash2_boom2_002.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,2}</string>
				<key>spriteSize</key>
				<string>{59,54}</string>
				<key>spriteSourceSize</key>
				<string>{70,72}</string>
				<key>textureRect</key>
				<string>{{463,520},{59,54}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerDash2_boom2_003.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,2.5}</string>
				<key>spriteSize</key>
				<string>{62,61}</string>
				<key>spriteSourceSize</key>
				<string>{70,72}</string>
				<key>textureRect</key>
				<string>{{482,458},{62,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerDash2_boom2_004.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,2}</string>
				<key>spriteSize</key>
				<string>{63,64}</string>
				<key>spriteSourceSize</key>
				<string>{70,72}</string>
				<key>textureRect</key>
				<string>{{344,522},{63,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerDash2_boom2_005.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,2}</string>
				<key>spriteSize</key>
				<string>{65,64}</string>
				<key>spriteSourceSize</key>
				<string>{70,72}</string>
				<key>textureRect</key>
				<string>{{227,525},{65,64}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerDash2_boom2_006.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,1.5}</string>
				<key>spriteSize</key>
				<string>{66,67}</string>
				<key>spriteSourceSize</key>
				<string>{70,72}</string>
				<key>textureRect</key>
				<string>{{95,525},{66,67}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerDash2_boom2_007.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,1.5}</string>
				<key>spriteSize</key>
				<string>{68,69}</string>
				<key>spriteSourceSize</key>
				<string>{70,72}</string>
				<key>textureRect</key>
				<string>{{492,361},{68,69}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerDash2_boom2_008.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,1.5}</string>
				<key>spriteSize</key>
				<string>{70,69}</string>
				<key>spriteSourceSize</key>
				<string>{70,72}</string>
				<key>textureRect</key>
				<string>{{492,102},{70,69}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerDash2_boom2_009.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,1.5}</string>
				<key>spriteSize</key>
				<string>{69,69}</string>
				<key>spriteSourceSize</key>
				<string>{70,72}</string>
				<key>textureRect</key>
				<string>{{0,525},{69,69}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portalshine_01_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-10,0}</string>
				<key>spriteSize</key>
				<string>{17,72}</string>
				<key>spriteSourceSize</key>
				<string>{37,72}</string>
				<key>textureRect</key>
				<string>{{214,41},{17,72}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>portalshine_01_front_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{15,72}</string>
				<key>spriteSourceSize</key>
				<string>{15,72}</string>
				<key>textureRect</key>
				<string>{{486,254},{15,72}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>portalshine_02_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-11.5,0}</string>
				<key>spriteSize</key>
				<string>{20,72}</string>
				<key>spriteSourceSize</key>
				<string>{43,72}</string>
				<key>textureRect</key>
				<string>{{486,270},{20,72}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>portalshine_02_front_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2.5,0}</string>
				<key>spriteSize</key>
				<string>{31,83}</string>
				<key>spriteSourceSize</key>
				<string>{36,83}</string>
				<key>textureRect</key>
				<string>{{408,408},{31,83}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>portalshine_03_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,0}</string>
				<key>spriteSize</key>
				<string>{43,72}</string>
				<key>spriteSourceSize</key>
				<string>{49,72}</string>
				<key>textureRect</key>
				<string>{{438,440},{43,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portalshine_03_front_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,0}</string>
				<key>spriteSize</key>
				<string>{38,89}</string>
				<key>spriteSourceSize</key>
				<string>{44,89}</string>
				<key>textureRect</key>
				<string>{{447,194},{38,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portalshine_04_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-9.5,0}</string>
				<key>spriteSize</key>
				<string>{25,75}</string>
				<key>spriteSourceSize</key>
				<string>{44,75}</string>
				<key>textureRect</key>
				<string>{{486,194},{25,75}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>portalshine_04_front_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,0}</string>
				<key>spriteSize</key>
				<string>{22,87}</string>
				<key>spriteSourceSize</key>
				<string>{25,87}</string>
				<key>textureRect</key>
				<string>{{409,204},{22,87}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portalshine_05_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{24,69}</string>
				<key>spriteSourceSize</key>
				<string>{33,70}</string>
				<key>textureRect</key>
				<string>{{70,525},{24,69}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portalshine_05_front_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,74}</string>
				<key>spriteSourceSize</key>
				<string>{33,74}</string>
				<key>textureRect</key>
				<string>{{486,220},{33,74}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>portalshine_06_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-11.5,0}</string>
				<key>spriteSize</key>
				<string>{20,72}</string>
				<key>spriteSourceSize</key>
				<string>{43,72}</string>
				<key>textureRect</key>
				<string>{{306,415},{20,72}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>portalshine_06_front_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1.5,0}</string>
				<key>spriteSize</key>
				<string>{18,87}</string>
				<key>spriteSourceSize</key>
				<string>{21,87}</string>
				<key>textureRect</key>
				<string>{{199,61},{18,87}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spiderDash_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,0}</string>
				<key>spriteSize</key>
				<string>{213,19}</string>
				<key>spriteSourceSize</key>
				<string>{221,21}</string>
				<key>textureRect</key>
				<string>{{0,41},{213,19}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spiderDash_002.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3.5,0}</string>
				<key>spriteSize</key>
				<string>{198,21}</string>
				<key>spriteSourceSize</key>
				<string>{221,21}</string>
				<key>textureRect</key>
				<string>{{0,61},{198,21}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spiderDash_003.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-30,0.5}</string>
				<key>spriteSize</key>
				<string>{151,20}</string>
				<key>spriteSourceSize</key>
				<string>{221,21}</string>
				<key>textureRect</key>
				<string>{{0,83},{151,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spiderDash_004.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-46.5,1}</string>
				<key>spriteSize</key>
				<string>{120,19}</string>
				<key>spriteSourceSize</key>
				<string>{221,21}</string>
				<key>textureRect</key>
				<string>{{152,83},{120,19}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spiderDash_005.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-54.5,0.5}</string>
				<key>spriteSize</key>
				<string>{106,18}</string>
				<key>spriteSourceSize</key>
				<string>{221,21}</string>
				<key>textureRect</key>
				<string>{{224,103},{106,18}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spiderDash_006.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-71.5,1}</string>
				<key>spriteSize</key>
				<string>{72,17}</string>
				<key>spriteSourceSize</key>
				<string>{221,21}</string>
				<key>textureRect</key>
				<string>{{482,440},{72,17}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spiderDash_007.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-79,1}</string>
				<key>spriteSize</key>
				<string>{59,17}</string>
				<key>spriteSourceSize</key>
				<string>{221,21}</string>
				<key>textureRect</key>
				<string>{{545,458},{59,17}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spiderDash_008.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-98,1.5}</string>
				<key>spriteSize</key>
				<string>{23,16}</string>
				<key>spriteSourceSize</key>
				<string>{221,21}</string>
				<key>textureRect</key>
				<string>{{379,415},{23,16}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>theTowerDoor_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,114}</string>
				<key>spriteSourceSize</key>
				<string>{116,114}</string>
				<key>textureRect</key>
				<string>{{0,104},{116,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>theTowerLabel_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{91,44}</string>
				<key>spriteSourceSize</key>
				<string>{92,44}</string>
				<key>textureRect</key>
				<string>{{447,102},{91,44}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>weeklyLevelsLabel_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{288,40}</string>
				<key>spriteSourceSize</key>
				<string>{288,40}</string>
				<key>textureRect</key>
				<string>{{0,0},{288,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>GJ_GameSheet04.png</string>
			<key>size</key>
			<string>{611,594}</string>
			<key>textureFileName</key>
			<string>GJ_GameSheet04.png</string>
		</dict>
	</dict>
</plist>