<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>bgIcon_01_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{2,2},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_02_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{45,2},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_03_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{2,45},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_04_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{45,45},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_05_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{88,2},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_06_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{2,88},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_07_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{45,88},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_08_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{88,45},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_09_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{88,88},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_10_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{131,2},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_11_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{2,131},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_12_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{45,131},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_13_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{131,45},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_14_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{88,131},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_15_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{131,88},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_16_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{174,2},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_17_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{2,174},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_18_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{45,174},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_19_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{174,45},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_20_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{131,131},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_21_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{88,174},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_22_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{174,88},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_23_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{131,174},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_24_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{174,131},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_25_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{217,2},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_26_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{2,217},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_27_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{45,217},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_28_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{217,45},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_29_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{88,217},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_30_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{217,88},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_31_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{174,174},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_32_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{131,217},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_33_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{217,131},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_34_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{260,2},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_35_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{2,260},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_36_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{45,260},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_37_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{260,45},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_38_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{88,260},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_39_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{260,88},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_40_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{174,217},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_41_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{217,174},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_42_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{131,260},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_43_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{260,131},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_44_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{303,2},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_45_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{2,303},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_46_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{45,303},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_47_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{217,217},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_48_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{303,45},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_49_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{174,260},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_50_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{260,174},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_51_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{88,303},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_52_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{303,88},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_53_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{131,303},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_54_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{303,131},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_55_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{217,260},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_56_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{260,217},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_57_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{346,2},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_58_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{2,346},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgIcon_59_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{45,346},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_01_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{174,303},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_02_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{303,174},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_03_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{346,45},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_04_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{88,346},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_05_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{346,88},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_06_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{260,260},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_07_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{131,346},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_08_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{346,131},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_09_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{217,303},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_10_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{303,217},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_11_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{174,346},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_12_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{346,174},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_13_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{389,2},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_14_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{389,45},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_15_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{260,303},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_16_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{303,260},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_17_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{389,88},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_18_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{217,346},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_19_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{346,217},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_20_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{389,131},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_21_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{389,174},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gIcon_22_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{303,303},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>mgIcon_00_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{260,346},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>mgIcon_01_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{346,260},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>mgIcon_02_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{389,217},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>mgIcon_03_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{303,346},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{434,391}</string>
   <key>textureFileName</key>
   <string>GJ_GameSheetEditor.png</string>
  </dict>
 </dict>
</plist>
