<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>cocos2DxLogo.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{360,96}</string>
				<key>spriteSourceSize</key>
				<string>{360,96}</string>
				<key>textureRect</key>
				<string>{{1327,202},{360,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>fmodLogo.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{360,95}</string>
				<key>spriteSourceSize</key>
				<string>{360,95}</string>
				<key>textureRect</key>
				<string>{{1327,299},{360,95}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_lite_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{8,0}</string>
				<key>spriteSize</key>
				<string>{264,124}</string>
				<key>spriteSourceSize</key>
				<string>{360,124}</string>
				<key>textureRect</key>
				<string>{{533,499},{264,124}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_logo_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4.5,-3.5}</string>
				<key>spriteSize</key>
				<string>{1707,201}</string>
				<key>spriteSourceSize</key>
				<string>{1716,208}</string>
				<key>textureRect</key>
				<string>{{0,0},{1707,201}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_md_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4.5,-7}</string>
				<key>spriteSize</key>
				<string>{739,140}</string>
				<key>spriteSourceSize</key>
				<string>{748,154}</string>
				<key>textureRect</key>
				<string>{{0,202},{739,140}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gj_subzeroLogo_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{7.5,-7.5}</string>
				<key>spriteSize</key>
				<string>{647,155}</string>
				<key>spriteSourceSize</key>
				<string>{662,170}</string>
				<key>textureRect</key>
				<string>{{0,343},{647,155}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gj_worldLogo_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{7.5,-7}</string>
				<key>spriteSize</key>
				<string>{532,154}</string>
				<key>spriteSourceSize</key>
				<string>{547,168}</string>
				<key>textureRect</key>
				<string>{{0,499},{532,154}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>RobTopLogoBig_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{586,206}</string>
				<key>spriteSourceSize</key>
				<string>{592,222}</string>
				<key>textureRect</key>
				<string>{{740,202},{586,206}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>GJ_LaunchSheet-uhd.png</string>
			<key>size</key>
			<string>{1707,653}</string>
			<key>textureFileName</key>
			<string>GJ_LaunchSheet-uhd.png</string>
		</dict>
	</dict>
</plist>