<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>cocos2DxLogo.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,24}</string>
				<key>spriteSourceSize</key>
				<string>{90,24}</string>
				<key>textureRect</key>
				<string>{{334,52},{90,24}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>fmodLogo.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,23}</string>
				<key>spriteSourceSize</key>
				<string>{90,23}</string>
				<key>textureRect</key>
				<string>{{334,77},{90,23}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_lite_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,0}</string>
				<key>spriteSize</key>
				<string>{68,31}</string>
				<key>spriteSourceSize</key>
				<string>{90,31}</string>
				<key>textureRect</key>
				<string>{{165,104},{68,31}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>GJ_logo_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{428,51}</string>
				<key>spriteSourceSize</key>
				<string>{429,52}</string>
				<key>textureRect</key>
				<string>{{0,0},{428,51}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_md_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1}</string>
				<key>spriteSize</key>
				<string>{186,36}</string>
				<key>spriteSourceSize</key>
				<string>{187,38}</string>
				<key>textureRect</key>
				<string>{{0,52},{186,36}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gj_subzeroLogo_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{164,41}</string>
				<key>spriteSourceSize</key>
				<string>{165,42}</string>
				<key>textureRect</key>
				<string>{{0,89},{164,41}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gj_worldLogo_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{135,41}</string>
				<key>spriteSourceSize</key>
				<string>{136,42}</string>
				<key>textureRect</key>
				<string>{{0,131},{135,41}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>RobTopLogoBig_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{146,51}</string>
				<key>spriteSourceSize</key>
				<string>{148,55}</string>
				<key>textureRect</key>
				<string>{{187,52},{146,51}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>GJ_LaunchSheet.png</string>
			<key>size</key>
			<string>{428,172}</string>
			<key>textureFileName</key>
			<string>GJ_LaunchSheet.png</string>
		</dict>
	</dict>
</plist>