<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>playerExplosion_18_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{46,44}</string>
				<key>spriteSourceSize</key>
				<string>{968,872}</string>
				<key>textureRect</key>
				<string>{{1804,576},{46,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_18_002.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,94}</string>
				<key>spriteSourceSize</key>
				<string>{968,872}</string>
				<key>textureRect</key>
				<string>{{1804,481},{98,94}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_18_003.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{132,128}</string>
				<key>spriteSourceSize</key>
				<string>{968,872}</string>
				<key>textureRect</key>
				<string>{{1780,832},{132,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_18_004.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{336,326}</string>
				<key>spriteSourceSize</key>
				<string>{968,872}</string>
				<key>textureRect</key>
				<string>{{1443,832},{336,326}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_18_005.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{480,466}</string>
				<key>spriteSourceSize</key>
				<string>{968,872}</string>
				<key>textureRect</key>
				<string>{{0,522},{480,466}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_18_006.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0.5}</string>
				<key>spriteSize</key>
				<string>{525,521}</string>
				<key>spriteSourceSize</key>
				<string>{968,872}</string>
				<key>textureRect</key>
				<string>{{0,0},{525,521}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_18_007.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{480,466}</string>
				<key>spriteSourceSize</key>
				<string>{968,872}</string>
				<key>textureRect</key>
				<string>{{481,522},{480,466}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_18_008.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{480,466}</string>
				<key>spriteSourceSize</key>
				<string>{968,872}</string>
				<key>textureRect</key>
				<string>{{526,0},{480,466}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerExplosion_18_009.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{480,466}</string>
				<key>spriteSourceSize</key>
				<string>{968,872}</string>
				<key>textureRect</key>
				<string>{{0,989},{480,466}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_18_010.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{480,466}</string>
				<key>spriteSourceSize</key>
				<string>{968,872}</string>
				<key>textureRect</key>
				<string>{{481,989},{480,466}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_18_011.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{480,466}</string>
				<key>spriteSourceSize</key>
				<string>{968,872}</string>
				<key>textureRect</key>
				<string>{{993,0},{480,466}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerExplosion_18_012.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{480,466}</string>
				<key>spriteSourceSize</key>
				<string>{968,872}</string>
				<key>textureRect</key>
				<string>{{962,481},{480,466}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_18_013.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{480,466}</string>
				<key>spriteSourceSize</key>
				<string>{968,872}</string>
				<key>textureRect</key>
				<string>{{962,948},{480,466}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_18_014.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{480,466}</string>
				<key>spriteSourceSize</key>
				<string>{968,872}</string>
				<key>textureRect</key>
				<string>{{0,1456},{480,466}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_18_015.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{480,466}</string>
				<key>spriteSourceSize</key>
				<string>{968,872}</string>
				<key>textureRect</key>
				<string>{{481,1456},{480,466}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_18_016.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{480,466}</string>
				<key>spriteSourceSize</key>
				<string>{968,872}</string>
				<key>textureRect</key>
				<string>{{962,1415},{480,466}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_18_017.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{480,466}</string>
				<key>spriteSourceSize</key>
				<string>{968,872}</string>
				<key>textureRect</key>
				<string>{{1460,0},{480,466}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerExplosion_18_018.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{360,350}</string>
				<key>spriteSourceSize</key>
				<string>{968,872}</string>
				<key>textureRect</key>
				<string>{{1443,481},{360,350}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_18_019.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{214,214}</string>
				<key>spriteSourceSize</key>
				<string>{968,872}</string>
				<key>textureRect</key>
				<string>{{1443,1159},{214,214}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_18_020.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{14,14}</string>
				<key>spriteSourceSize</key>
				<string>{968,872}</string>
				<key>textureRect</key>
				<string>{{1903,481},{14,14}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_18_021.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{14,14}</string>
				<key>spriteSourceSize</key>
				<string>{968,872}</string>
				<key>textureRect</key>
				<string>{{1903,496},{14,14}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_18_022.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{14,14}</string>
				<key>spriteSourceSize</key>
				<string>{968,872}</string>
				<key>textureRect</key>
				<string>{{1903,511},{14,14}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_18_023.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{14,14}</string>
				<key>spriteSourceSize</key>
				<string>{968,872}</string>
				<key>textureRect</key>
				<string>{{1903,526},{14,14}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>PlayerExplosion_18-uhd.png</string>
			<key>size</key>
			<string>{1926,1922}</string>
			<key>textureFileName</key>
			<string>PlayerExplosion_18-uhd.png</string>
		</dict>
	</dict>
</plist>