<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>godray01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{60,59}</string>
				<key>spriteSourceSize</key>
				<string>{60,60}</string>
				<key>textureRect</key>
				<string>{{322,149},{60,59}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>theTower_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-7}</string>
				<key>spriteSize</key>
				<string>{107,307}</string>
				<key>spriteSourceSize</key>
				<string>{110,321}</string>
				<key>textureRect</key>
				<string>{{0,272},{107,307}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>towerBG_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{321,271}</string>
				<key>spriteSourceSize</key>
				<string>{321,271}</string>
				<key>textureRect</key>
				<string>{{0,0},{321,271}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>towerDoor_locked_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,53}</string>
				<key>spriteSourceSize</key>
				<string>{56,53}</string>
				<key>textureRect</key>
				<string>{{322,209},{56,53}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>towerDoor_open_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5.5,0}</string>
				<key>spriteSize</key>
				<string>{72,53}</string>
				<key>spriteSourceSize</key>
				<string>{83,53}</string>
				<key>textureRect</key>
				<string>{{322,95},{72,53}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>towerDoor_unlocked_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,53}</string>
				<key>spriteSourceSize</key>
				<string>{56,53}</string>
				<key>textureRect</key>
				<string>{{322,263},{56,53}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>towerLockedArrow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-5}</string>
				<key>spriteSize</key>
				<string>{49,37}</string>
				<key>spriteSourceSize</key>
				<string>{49,47}</string>
				<key>textureRect</key>
				<string>{{379,209},{49,37}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>towerShine.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{94,94}</string>
				<key>spriteSourceSize</key>
				<string>{100,100}</string>
				<key>textureRect</key>
				<string>{{322,0},{94,94}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>towerTorch_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{8,15}</string>
				<key>spriteSourceSize</key>
				<string>{8,15}</string>
				<key>textureRect</key>
				<string>{{308,272},{8,15}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>towerTorchInner_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{26,31}</string>
				<key>spriteSourceSize</key>
				<string>{26,31}</string>
				<key>textureRect</key>
				<string>{{383,149},{26,31}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>TowerSheet.png</string>
			<key>size</key>
			<string>{416,379}</string>
			<key>textureFileName</key>
			<string>TowerSheet.png</string>
		</dict>
	</dict>
</plist>