<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>godray01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{240,236}</string>
				<key>spriteSourceSize</key>
				<string>{240,240}</string>
				<key>textureRect</key>
				<string>{{1283,592},{240,236}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>theTower_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{7,-30.5}</string>
				<key>spriteSize</key>
				<string>{426,1223}</string>
				<key>spriteSourceSize</key>
				<string>{440,1284}</string>
				<key>textureRect</key>
				<string>{{0,1085},{426,1223}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>towerBG_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{1282,1084}</string>
				<key>spriteSourceSize</key>
				<string>{1284,1084}</string>
				<key>textureRect</key>
				<string>{{0,0},{1282,1084}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>towerDoor_locked_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{224,212}</string>
				<key>spriteSourceSize</key>
				<string>{224,212}</string>
				<key>textureRect</key>
				<string>{{1283,829},{224,212}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>towerDoor_open_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-25,0}</string>
				<key>spriteSize</key>
				<string>{282,212}</string>
				<key>spriteSourceSize</key>
				<string>{332,212}</string>
				<key>textureRect</key>
				<string>{{1283,379},{282,212}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>towerDoor_unlocked_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{224,212}</string>
				<key>spriteSourceSize</key>
				<string>{224,212}</string>
				<key>textureRect</key>
				<string>{{1283,1042},{224,212}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>towerLockedArrow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-23}</string>
				<key>spriteSize</key>
				<string>{195,142}</string>
				<key>spriteSourceSize</key>
				<string>{198,188}</string>
				<key>textureRect</key>
				<string>{{1508,829},{195,142}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>towerShine.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-1}</string>
				<key>spriteSize</key>
				<string>{378,378}</string>
				<key>spriteSourceSize</key>
				<string>{400,400}</string>
				<key>textureRect</key>
				<string>{{1283,0},{378,378}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>towerTorch_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,62}</string>
				<key>spriteSourceSize</key>
				<string>{32,62}</string>
				<key>textureRect</key>
				<string>{{1224,1085},{32,62}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>towerTorchInner_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{106,124}</string>
				<key>spriteSourceSize</key>
				<string>{106,124}</string>
				<key>textureRect</key>
				<string>{{1524,592},{106,124}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>TowerSheet-uhd.png</string>
			<key>size</key>
			<string>{1661,1511}</string>
			<key>textureFileName</key>
			<string>TowerSheet-uhd.png</string>
		</dict>
	</dict>
</plist>