<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>godray01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,118}</string>
				<key>spriteSourceSize</key>
				<string>{120,120}</string>
				<key>textureRect</key>
				<string>{{642,297},{120,118}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>theTower_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3.5,-16.5}</string>
				<key>spriteSize</key>
				<string>{213,609}</string>
				<key>spriteSourceSize</key>
				<string>{220,642}</string>
				<key>textureRect</key>
				<string>{{0,543},{213,609}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>towerBG_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0}</string>
				<key>spriteSize</key>
				<string>{641,542}</string>
				<key>spriteSourceSize</key>
				<string>{642,542}</string>
				<key>textureRect</key>
				<string>{{0,0},{641,542}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>towerDoor_locked_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{112,106}</string>
				<key>spriteSourceSize</key>
				<string>{112,106}</string>
				<key>textureRect</key>
				<string>{{642,416},{112,106}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>towerDoor_open_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-13.5,0}</string>
				<key>spriteSize</key>
				<string>{139,106}</string>
				<key>spriteSourceSize</key>
				<string>{166,106}</string>
				<key>textureRect</key>
				<string>{{642,190},{139,106}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>towerDoor_unlocked_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{112,106}</string>
				<key>spriteSourceSize</key>
				<string>{112,106}</string>
				<key>textureRect</key>
				<string>{{642,523},{112,106}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>towerLockedArrow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-12.5}</string>
				<key>spriteSize</key>
				<string>{95,69}</string>
				<key>spriteSourceSize</key>
				<string>{99,94}</string>
				<key>textureRect</key>
				<string>{{755,416},{95,69}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>towerShine.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{189,189}</string>
				<key>spriteSourceSize</key>
				<string>{200,200}</string>
				<key>textureRect</key>
				<string>{{642,0},{189,189}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>towerTorch_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{16,31}</string>
				<key>spriteSourceSize</key>
				<string>{16,31}</string>
				<key>textureRect</key>
				<string>{{610,543},{16,31}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>towerTorchInner_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{53,62}</string>
				<key>spriteSourceSize</key>
				<string>{53,62}</string>
				<key>textureRect</key>
				<string>{{763,297},{53,62}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>TowerSheet-hd.png</string>
			<key>size</key>
			<string>{831,756}</string>
			<key>textureFileName</key>
			<string>TowerSheet-hd.png</string>
		</dict>
	</dict>
</plist>