<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>uproxide.textures/TWS_Background.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{2560,1440}</string>
    <key>spriteSourceSize</key>
    <string>{2560,1440}</string>
    <key>textureRect</key>
    <string>{{0,0},{2560,1440}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>uproxide.textures/TWS_Credits.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{172,168}</string>
    <key>spriteSourceSize</key>
    <string>{176,168}</string>
    <key>textureRect</key>
    <string>{{1674,2258},{172,168}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>uproxide.textures/TWS_DeleteButton.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{182,187}</string>
    <key>spriteSourceSize</key>
    <string>{184,188}</string>
    <key>textureRect</key>
    <string>{{2376,1442},{182,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>uproxide.textures/TWS_DownloadButton.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{182,188}</string>
    <key>spriteSourceSize</key>
    <string>{184,188}</string>
    <key>textureRect</key>
    <string>{{2044,1778},{182,188}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>uproxide.textures/TWS_Featured.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{554,554}</string>
    <key>spriteSourceSize</key>
    <string>{554,554}</string>
    <key>textureRect</key>
    <string>{{1302,1442},{554,554}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>uproxide.textures/TWS_FileButton.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{184,188}</string>
    <key>spriteSourceSize</key>
    <string>{184,188}</string>
    <key>textureRect</key>
    <string>{{1858,1778},{184,188}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>uproxide.textures/TWS_InfoButton.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{184,188}</string>
    <key>spriteSourceSize</key>
    <string>{184,188}</string>
    <key>textureRect</key>
    <string>{{1302,2258},{184,188}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>uproxide.textures/TWS_Logo.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1146,138}</string>
    <key>spriteSourceSize</key>
    <string>{1146,138}</string>
    <key>textureRect</key>
    <string>{{1302,1998},{1146,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>uproxide.textures/TWS_MainButton.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{180,192}</string>
    <key>spriteSourceSize</key>
    <string>{180,192}</string>
    <key>textureRect</key>
    <string>{{2194,1442},{180,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>uproxide.textures/TWS_Outline.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1300,1014}</string>
    <key>spriteSourceSize</key>
    <string>{1300,1014}</string>
    <key>textureRect</key>
    <string>{{0,1442},{1300,1014}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>uproxide.textures/TWS_PlaceholderLogo.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{334,334}</string>
    <key>spriteSourceSize</key>
    <string>{336,336}</string>
    <key>textureRect</key>
    <string>{{1858,1442},{334,334}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>uproxide.textures/TWS_RefreshButton.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{184,187}</string>
    <key>spriteSourceSize</key>
    <string>{184,188}</string>
    <key>textureRect</key>
    <string>{{1488,2258},{184,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>uproxide.textures/TWS_SearchButton.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{78,74}</string>
    <key>spriteSourceSize</key>
    <string>{78,74}</string>
    <key>textureRect</key>
    <string>{{2194,1636},{78,74}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>uproxide.textures/TWS_Update.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{76,172}</string>
    <key>spriteSourceSize</key>
    <string>{76,174}</string>
    <key>textureRect</key>
    <string>{{2228,1778},{76,172}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>uproxide.textures/TWS_Workshop.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{762,118}</string>
    <key>spriteSourceSize</key>
    <string>{762,118}</string>
    <key>textureRect</key>
    <string>{{1302,2138},{762,118}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{2562,2458}</string>
   <key>textureFileName</key>
   <string>uproxide.textures/TWSSheet-uhd.png</string>
  </dict>
 </dict>
</plist>
